In [7]:
import pandas as pd

df = pd.read_csv('rest_data.csv')

df.head()

  category                                               text
0     arts  you are using an older browser version. please...
1     arts  on 31 march two of classical music s most acco...
2     arts  bpt after a year of being locked away at home ...
3     arts  pilot uninjured plane hit sandbar while landin...
4     arts  colleen distin photo by facebook toronto sun ....

In [8]:
df = df.dropna(axis=0, how='any')

In [9]:
df = df.apply(lambda x: x.str.lower())

In [10]:
import re
import nltk
from nltk.corpus import stopwords, words
from nltk.stem import WordNetLemmatizer
from tqdm import tqdm

tqdm.pandas()

nltk.download('wordnet')
nltk.download('words')

english_vocab = set(w.lower() for w in words.words()) # english nltk vocab

def filter_english_sentences(text):
    cleaned_text = " ".join(word for word in text.split() if word.lower() in english_vocab and len(word) > 2)
    words_removed = len(text.split()) - len(cleaned_text.split())
    return cleaned_text, words_removed

df[['clean_text', 'words_removed']] = df['text'].progress_apply(lambda text: pd.Series(filter_english_sentences(text)))

df.head()

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/karennurlybekov/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     /Users/karennurlybekov/nltk_data...
[nltk_data]   Package words is already up-to-date!
100%|██████████| 5292/5292 [00:00<00:00, 6857.79it/s]

,category,text,clean_text,words_removed
0,arts,you are using an older browser version. please...,you are older browser please use version for t...,127
1,arts,on 31 march two of classical music s most acco...,march two classical music most accomplished an...,374
2,arts,bpt after a year of being locked away at home ...,after year being locked away home the world ea...,204
3,arts,pilot uninjured plane hit sandbar while landin...,pilot uninjured plane hit while landing float ...,69
4,arts,colleen distin photo by facebook toronto sun ....,colleen photo sun lost wallet been returned it...,135

In [11]:
df.to_csv("data_bert.csv", index=False)