# This is a sample Jupyter Notebook

Below is an example of a code cell. 
Put your cursor into the cell and press Shift+Enter to execute it and select the next one, or click !here goes the icon of the corresponding button in the gutter! button.
To debug a cell, press Alt+Shift+Enter, or click !here goes the icon of the corresponding button in the gutter! button.

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/jupyter-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [1]:
%pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.3-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ethan\pycharmprojects\nlptextcleaning\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\ethan\pycharmprojects\nlptextcleaning\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
Downloading numpy-2.2.3-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ----- ---------------------------------- 1.8/12.6 MB 10.0 MB/s eta 0:00:02
   ------------ --------------------------- 3.9/12.6 MB 10.2 MB/s eta 0:00:01
   ---------------- ----------------------- 5.2/12.6 MB 9.7 MB/s eta 0:00:01
   ----------------------- ---------------- 7.3/12.6 MB 8.9 MB/s eta 0:00:01
   ----------------------------- ---------- 9.2/12.6 MB 8.8 MB/s eta 0:00:01
   ----------------------------------- ---- 11.3/12.6 MB 9.0 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 9.1 MB/s eta 0:00:00
Using cached pytz-2025.1-py2.py3-none-any.whl (507 kB)
Using cached tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.3 pandas-2.2.3 pytz-2025.1 tzdata-2025.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install nltk

Collecting nltk
  Downloading nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Collecting click (from nltk)
  Downloading click-8.1.8-py3-none-any.whl.metadata (2.3 kB)
Collecting joblib (from nltk)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2024.11.6-cp312-cp312-win_amd64.whl.metadata (41 kB)
Collecting tqdm (from nltk)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: colorama in c:\users\ethan\pycharmprojects\nlptextcleaning\.venv\lib\site-packages (from click->nltk) (0.4.6)
Downloading nltk-3.9.1-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ------ --------------------------------- 0.3/1.5 MB ? eta -:--:--
   ---------------------------------------- 1.5/1.5 MB 5.3 MB/s eta 0:00:00
Downloading regex-2024.11.6-cp312-cp312-win_amd64.whl (273 kB)
Downloading click-8.1.8-py3-none-any.whl (98 kB)
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: tqdm, regex, joblib, click, nltk
Successfully installed click-8.1.8 joblib-1.4.2 nltk-3.9.1 regex-2024.11.6 tqdm-4.67.1
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas as pd

df = pd.read_csv('data/COMP_chunk_2.csv')
print(df.head())

  category                                               text
0     arts  you are using an older browser version. please...
1     arts  on 31 march two of classical music s most acco...
2     arts  bpt after a year of being locked away at home ...
3     arts  pilot uninjured plane hit sandbar while landin...
4     arts  colleen distin photo by facebook toronto sun ....

In [11]:
df['category'].unique()

array(['arts', 'crime', 'disaster', 'economy', 'education',
       'environmental', 'health', 'humanInterest', 'labour', 'lifestyle',
       'other', 'politics', 'religion', 'science', 'social', 'sport',
       'unrest', 'weather'], dtype=object)

In [4]:
df = df.dropna(axis=0, how='any')

In [5]:
df = df.apply(lambda x: x.str.lower())

In [18]:
df["text"] = df["text"].apply(lambda x: " ".join("".join([ch if ch.isalpha() or ch.isspace() else "" for ch in str(x)]).split()))

print(df.head())

  category                                               text
0     arts  you are using an older browser version please ...
1     arts  on march two of classical music s most accompl...
2     arts  bpt after a year of being locked away at home ...
3     arts  pilot uninjured plane hit sandbar while landin...
4     arts  colleen distin photo by facebook toronto sun a...

In [21]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

stop_words = set(stopwords.words('english'))
df["clean_text"] = df["text"].apply(lambda x: " ".join([word for word in x.split() if word.lower() not in stop_words]))

df

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/karennurlybekov/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,category,text,clean_text
0,arts,you are using an older browser version please ...,using older browser version please use support...
1,arts,on march two of classical music s most accompl...,march two classical music accomplished well kn...
2,arts,bpt after a year of being locked away at home ...,bpt year locked away home world eager reopen e...
3,arts,pilot uninjured plane hit sandbar while landin...,pilot uninjured plane hit sandbar landing floa...
4,arts,colleen distin photo by facebook toronto sun a...,colleen distin photo facebook toronto sun lost...
...,...,...,...
5395,weather,orangeburg this evening in orangeburg cloudy s...,orangeburg evening orangeburg cloudy skies str...
5396,weather,national basketball association north american...,national basketball association north american...
5397,weather,las vegas ap the southwest continued to bake s...,las vegas ap southwest continued bake saturday...
5398,weather,here is today s weather outlook for jun in mad...,today weather outlook jun madison wi madison f...
5399,weather,singapore about years ago sea levels in singap...,singapore years ago sea levels singapore least...

In [22]:
df_clean = df.drop(columns=['text'])
df_clean

     category                                         clean_text
0        arts  using older browser version please use support...
1        arts  march two classical music accomplished well kn...
2        arts  bpt year locked away home world eager reopen e...
3        arts  pilot uninjured plane hit sandbar landing floa...
4        arts  colleen distin photo facebook toronto sun lost...
...       ...                                                ...
5395  weather  orangeburg evening orangeburg cloudy skies str...
5396  weather  national basketball association north american...
5397  weather  las vegas ap southwest continued bake saturday...
5398  weather  today weather outlook jun madison wi madison f...
5399  weather  singapore years ago sea levels singapore least...

[5400 rows x 2 columns]