In [6]:
import pandas as pd

df = pd.read_csv('../data/COMP_chunk_2.csv')

df.head()

  category                                               text
0     arts  you are using an older browser version. please...
1     arts  on 31 march two of classical music s most acco...
2     arts  bpt after a year of being locked away at home ...
3     arts  pilot uninjured plane hit sandbar while landin...
4     arts  colleen distin photo by facebook toronto sun ....

In [7]:
df_sampled = df.groupby('category').head(6)
df_remaining = df.drop(df_sampled.index)

In [8]:

df_sampled.to_csv('../data/validation_data.csv', index=False)
df_remaining.to_csv('rest_data_last.csv', index=False)