In [1]:
import pandas as pd

df = pd.read_csv('use_this_data/rest_data_last.csv')

In [2]:
df = df.dropna(axis=0, how='any')

In [3]:
df = df.apply(lambda x: x.str.lower())

In [4]:
df["text"] = df["text"].apply(lambda x: " ".join("".join([ch if ch.isalpha() or ch.isspace() else "" for ch in str(x)]).split()))

print(df.head())

  category                                               text
0     arts  rob delaney vir das galen hopper samson kayo g...
1     arts  andris nelsons conducts a joint concert of the...
2     arts  warner music group has brought on sherry tan t...
3     arts  adele will explore what she s been going throu...
4     arts  you are using an older browser version please ...

In [5]:
df["text"] = df["text"].apply(lambda x: x.strip())

print(df.head())

  category                                               text
0     arts  rob delaney vir das galen hopper samson kayo g...
1     arts  andris nelsons conducts a joint concert of the...
2     arts  warner music group has brought on sherry tan t...
3     arts  adele will explore what she s been going throu...
4     arts  you are using an older browser version please ...

In [26]:
# print(df.head())
# from textblob import TextBlob
# from tqdm import tqdm
# 
# tqdm.pandas()
# 
# # fix errors
# df["fixed_text"] = df["text"].progress_apply(
#     lambda x: "".join([str(TextBlob(word).correct()) for word in x])
# )
# 
# df.head()

  category                                               text  \
0     arts  you are using an older browser version please ...
1     arts  on march two of classical music s most accompl...
2     arts  bpt after a year of being locked away at home ...
3     arts  pilot uninjured plane hit sandbar while landin...
4     arts  colleen distin photo by facebook toronto sun a...

                                          fixed_text
0  y o u   a r e   u s i n g   a n   o l d e r   ...
1  o n   m a r c h   t w o   o f   c l a s s i c ...
2  b p t   a f t e r   a   y e a r   o f   b e i ...
3  p i l o t   u n i n j u r e d   p l a n e   h ...
4  c o l l e e n   d i s t i n   p h o t o   b y ...

100%|██████████| 5292/5292 [00:58<00:00, 90.74it/s]

,category,text,fixed_text
0,arts,you are using an older browser version please ...,you are using an older browser version please ...
1,arts,on march two of classical music s most accompl...,on march two of classical music s most accompl...
2,arts,bpt after a year of being locked away at home ...,bpt after a year of being locked away at home ...
3,arts,pilot uninjured plane hit sandbar while landin...,pilot uninjured plane hit sandbar while landin...
4,arts,colleen distin photo by facebook toronto sun a...,colleen distin photo by facebook toronto sun a...

In [7]:
import re
import nltk
from nltk.corpus import stopwords, words
from nltk.stem import WordNetLemmatizer
from tqdm import tqdm

tqdm.pandas()

nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')  # optional, for better lemmatizer coverage
english_vocab = set(w.lower() for w in words.words()) # english nltk vocab

stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

df['clean_text'] = df['text'].progress_apply(
    lambda text: " ".join(
        # Lemmatize each token
        lemmatizer.lemmatize(word)
        # Keep only letters, convert to lowercase, then split on whitespace
        for word in re.sub(r'[^a-z\s]', '', text.lower()).split()
        # Remove stopwords
        if word not in stop_words
         if word not in stop_words
           and len(word) >= 3
           and word in english_vocab
    )
)

df.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/karennurlybekov/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/karennurlybekov/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/karennurlybekov/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
100%|██████████| 5292/5292 [00:02<00:00, 1964.50it/s]

,category,text,clean_text
0,arts,rob delaney vir das galen hopper samson kayo g...,rob da galen hopper samson kayo guz khan nick ...
1,arts,andris nelsons conducts a joint concert of the...,joint concert boston symphony orchestra visiti...
2,arts,warner music group has brought on sherry tan t...,warner music group brought sherry tan head mus...
3,arts,adele will explore what she s been going throu...,explore going new album set explore going new ...
4,arts,you are using an older browser version please ...,older browser version please use version best ...

In [8]:
df.to_csv('data_1.csv', index=False)

In [36]:
df.head()

,category,text,clean_text
0,arts,you are using an older browser version please ...,older browser version please use version best ...
1,arts,on march two of classical music s most accompl...,march two classical music accomplished well kn...
2,arts,bpt after a year of being locked away at home ...,year locked away home world eager reopen exper...
3,arts,pilot uninjured plane hit sandbar while landin...,pilot uninjured plane hit landing float plane ...
4,arts,colleen distin photo by facebook toronto sun a...,colleen photo sun lost wallet returned owner c...

In [37]:
df = df[df["clean_text"].str.strip().astype(bool)]
df.head()

,category,text,clean_text
0,arts,you are using an older browser version please ...,older browser version please use version best ...
1,arts,on march two of classical music s most accompl...,march two classical music accomplished well kn...
2,arts,bpt after a year of being locked away at home ...,year locked away home world eager reopen exper...
3,arts,pilot uninjured plane hit sandbar while landin...,pilot uninjured plane hit landing float plane ...
4,arts,colleen distin photo by facebook toronto sun a...,colleen photo sun lost wallet returned owner c...