In [1]:
import pandas as pd

df = pd.read_csv('use_this_data/rest_data_last.csv')

df.head()

  category                                               text
0     arts  rob delaney vir das galen hopper samson kayo g...
1     arts  andris nelsons conducts a joint concert of the...
2     arts  warner music group has brought on sherry tan t...
3     arts  adele will explore what she s been going throu...
4     arts  you are using an older browser version. please...

In [2]:
df = df.dropna(axis=0, how='any')

In [3]:
df = df.apply(lambda x: x.str.lower())

In [8]:
# from nltk import word_tokenize
# import re
# import nltk
# from nltk.corpus import stopwords, words
# from nltk.stem import WordNetLemmatizer
# from tqdm import tqdm
# 
# tqdm.pandas()
# 
# nltk.download('punkt')
# nltk.download('words')
# 
# english_vocab = set(w.lower() for w in words.words())  # English NLTK vocab
# 
# def filter_english_sentences(text):
#     tokens = word_tokenize(text)  # Tokenize while keeping punctuation
#     filtered_tokens = [word for word in tokens if word.lower() in english_vocab or not word.isalpha()]
#     cleaned_text = " ".join(filtered_tokens)
#     words_removed = len(tokens) - len(filtered_tokens)
#     return cleaned_text, words_removed
# 
# df[['clean_text', 'words_removed']] = df['text'].progress_apply(lambda text: pd.Series(filter_english_sentences(text)))
# 
# df.head()

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/karennurlybekov/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     /Users/karennurlybekov/nltk_data...
[nltk_data]   Package words is already up-to-date!
100%|██████████| 5292/5292 [00:06<00:00, 759.08it/s]

,category,text,clean_text,words_removed
0,arts,you are using an older browser version. please...,you are an older browser version . please use ...,50
1,arts,on 31 march two of classical music s most acco...,on 31 march two of classical music s most acco...,156
2,arts,bpt after a year of being locked away at home ...,after a year of being locked away at home the ...,98
3,arts,pilot uninjured plane hit sandbar while landin...,pilot uninjured plane hit while landing . a fl...,22
4,arts,colleen distin photo by facebook toronto sun ....,colleen photo by sun . a lost wallet been retu...,47

In [6]:
import re


def remove_URL(text):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r'',text)

def remove_html(text):
    html=re.compile(r'<.*?>')
    return html.sub(r'',text)

def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

df['text']=df['text'].apply(lambda x: remove_emoji(x))

df['text']=df['text'].apply(lambda x : remove_html(x))

df['text']=df['text'].apply(lambda x : remove_URL(x))

df['text']=df['text'].apply(lambda x : re.sub(r'\s+', ' ', x).strip())

df['text']=df['text'].apply(lambda x : re.sub(r'([!?.,])\1+', r'\1', x))

df.head()

  category                                               text
0     arts  rob delaney vir das galen hopper samson kayo g...
1     arts  andris nelsons conducts a joint concert of the...
2     arts  warner music group has brought on sherry tan t...
3     arts  adele will explore what she s been going throu...
4     arts  you are using an older browser version. please...

In [7]:
df.to_csv('use_this_data/llm.csv',index=False)