# This is a sample Jupyter Notebook

Below is an example of a code cell. 
Put your cursor into the cell and press Shift+Enter to execute it and select the next one, or click !here goes the icon of the corresponding button in the gutter! button.
To debug a cell, press Alt+Shift+Enter, or click !here goes the icon of the corresponding button in the gutter! button.

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/jupyter-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [65]:
import pandas as pd

df = pd.read_csv('rest_data.csv')
print(df.head())

  category                                               text
0     arts  you are using an older browser version. please...
1     arts  on 31 march two of classical music s most acco...
2     arts  bpt after a year of being locked away at home ...
3     arts  pilot uninjured plane hit sandbar while landin...
4     arts  colleen distin photo by facebook toronto sun ....

In [53]:
df['category'].unique()

array(['crime', 'economy', 'disaster', 'other', 'weather', 'sport',
       'environmental', 'labour', 'politics', 'humanInterest', 'arts',
       'social', 'health', 'science', 'lifestyle', 'religion', 'unrest',
       'education'], dtype=object)

In [66]:
df = df.dropna(axis=0, how='any')

In [67]:
df = df.apply(lambda x: x.str.lower())

In [68]:
df["text"] = df["text"].apply(lambda x: " ".join("".join([ch if ch.isalpha() or ch.isspace() else "" for ch in str(x)]).split()))

print(df.head())

  category                                               text
0     arts  you are using an older browser version please ...
1     arts  on march two of classical music s most accompl...
2     arts  bpt after a year of being locked away at home ...
3     arts  pilot uninjured plane hit sandbar while landin...
4     arts  colleen distin photo by facebook toronto sun a...

In [69]:
import nltk
from nltk.tokenize import word_tokenize

# lowercase
# isalpha
nltk.download("punkt")

df["tokenized_text"] = df["text"].apply(lambda x: word_tokenize(x.lower()))

df.head()

# stopwords
# correst errors
# limitazition

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/karennurlybekov/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,category,text,tokenized_text
0,arts,you are using an older browser version please ...,"[you, are, using, an, older, browser, version,..."
1,arts,on march two of classical music s most accompl...,"[on, march, two, of, classical, music, s, most..."
2,arts,bpt after a year of being locked away at home ...,"[bpt, after, a, year, of, being, locked, away,..."
3,arts,pilot uninjured plane hit sandbar while landin...,"[pilot, uninjured, plane, hit, sandbar, while,..."
4,arts,colleen distin photo by facebook toronto sun a...,"[colleen, distin, photo, by, facebook, toronto..."

In [70]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

stop_words = set(stopwords.words('english'))
# df["text_stopwords_removed"] = df["tokenized_text"].apply(lambda x: " ".join([word for word in x.split() if word.lower() not in stop_words]))

df["text_stopwords_removed"] = df["tokenized_text"].apply(lambda words: [word for word in words if word.lower() not in stop_words])


df.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/karennurlybekov/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,category,text,tokenized_text,text_stopwords_removed
0,arts,you are using an older browser version please ...,"[you, are, using, an, older, browser, version,...","[using, older, browser, version, please, use, ..."
1,arts,on march two of classical music s most accompl...,"[on, march, two, of, classical, music, s, most...","[march, two, classical, music, accomplished, w..."
2,arts,bpt after a year of being locked away at home ...,"[bpt, after, a, year, of, being, locked, away,...","[bpt, year, locked, away, home, world, eager, ..."
3,arts,pilot uninjured plane hit sandbar while landin...,"[pilot, uninjured, plane, hit, sandbar, while,...","[pilot, uninjured, plane, hit, sandbar, landin..."
4,arts,colleen distin photo by facebook toronto sun a...,"[colleen, distin, photo, by, facebook, toronto...","[colleen, distin, photo, facebook, toronto, su..."

In [71]:
df_clean = df.drop(columns=['tokenized_text'])
df_clean

,category,text,text_stopwords_removed
0,arts,you are using an older browser version please ...,"[using, older, browser, version, please, use, ..."
1,arts,on march two of classical music s most accompl...,"[march, two, classical, music, accomplished, w..."
2,arts,bpt after a year of being locked away at home ...,"[bpt, year, locked, away, home, world, eager, ..."
3,arts,pilot uninjured plane hit sandbar while landin...,"[pilot, uninjured, plane, hit, sandbar, landin..."
4,arts,colleen distin photo by facebook toronto sun a...,"[colleen, distin, photo, facebook, toronto, su..."
...,...,...,...
5287,weather,orangeburg this evening in orangeburg cloudy s...,"[orangeburg, evening, orangeburg, cloudy, skie..."
5288,weather,national basketball association north american...,"[national, basketball, association, north, ame..."
5289,weather,las vegas ap the southwest continued to bake s...,"[las, vegas, ap, southwest, continued, bake, s..."
5290,weather,here is today s weather outlook for jun in mad...,"[today, weather, outlook, jun, madison, wi, ma..."
5291,weather,singapore about years ago sea levels in singap...,"[singapore, years, ago, sea, levels, singapore..."

In [72]:
from textblob import TextBlob
from tqdm import tqdm

tqdm.pandas()

# Apply TextBlob correction with a progress bar
# df["fixed_text"] = df["text_stopwords_removed"].progress_apply(lambda x: str(TextBlob(x).correct()))

df["fixed_text"] = df["text_stopwords_removed"].progress_apply(
    lambda x: " ".join([str(TextBlob(word).correct()) for word in x])
)

# Display DataFrame
df.head()

100%|██████████| 5292/5292 [5:52:50<00:00,  4.00s/it]

,category,text,tokenized_text,text_stopwords_removed,fixed_text
0,arts,you are using an older browser version please ...,"[you, are, using, an, older, browser, version,...","[using, older, browser, version, please, use, ...",using older brother version please use support...
1,arts,on march two of classical music s most accompl...,"[on, march, two, of, classical, music, s, most...","[march, two, classical, music, accomplished, w...",march two classical music accomplished well kn...
2,arts,bpt after a year of being locked away at home ...,"[bpt, after, a, year, of, being, locked, away,...","[bpt, year, locked, away, home, world, eager, ...",but year locked away home world eager open exp...
3,arts,pilot uninjured plane hit sandbar while landin...,"[pilot, uninjured, plane, hit, sandbar, while,...","[pilot, uninjured, plane, hit, sandbar, landin...",pilot uninjured plane hit sandbag landing floa...
4,arts,colleen distin photo by facebook toronto sun a...,"[colleen, distin, photo, by, facebook, toronto...","[colleen, distin, photo, facebook, toronto, su...",college listen photo facebook toronto sun lost...

In [73]:
df["tokenized_text"] = df["fixed_text"].apply(lambda x: word_tokenize(x.lower()))

df.head()

,category,text,tokenized_text,text_stopwords_removed,fixed_text
0,arts,you are using an older browser version please ...,"[using, older, brother, version, please, use, ...","[using, older, browser, version, please, use, ...",using older brother version please use support...
1,arts,on march two of classical music s most accompl...,"[march, two, classical, music, accomplished, w...","[march, two, classical, music, accomplished, w...",march two classical music accomplished well kn...
2,arts,bpt after a year of being locked away at home ...,"[but, year, locked, away, home, world, eager, ...","[bpt, year, locked, away, home, world, eager, ...",but year locked away home world eager open exp...
3,arts,pilot uninjured plane hit sandbar while landin...,"[pilot, uninjured, plane, hit, sandbag, landin...","[pilot, uninjured, plane, hit, sandbar, landin...",pilot uninjured plane hit sandbag landing floa...
4,arts,colleen distin photo by facebook toronto sun a...,"[college, listen, photo, facebook, toronto, su...","[colleen, distin, photo, facebook, toronto, su...",college listen photo facebook toronto sun lost...

In [74]:
df.to_csv("data_1.csv", index=False)